<!DOCTYPE html>
<html lang="en">
  <%- include header11.ejs %>

  <body>
    <div class="container">
      <!-- Signup form -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6">
          <form method="post" action="/signup">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                name="name"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input
                type="email"
                name="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                type="password"
                name="password"
                class="form-control"
                id="exampleInputPassword1"
              />
            </div>
            <div class="mb-3">
              <label for="UserContact" class="form-label">Contact</label>
              <input
                type="text"
                name="contact"
                class="form-control"
                id="UserContact"
              />
            </div>
            <div class="mb-3">
              <label for="InterestedField" class="form-label"
                >Field of Interest</label
              >
              <select class="form-control" id="JobList" name="JobList">
                <option>Designing</option>
                <option>Translator</option>
                <option>Content Writer</option>
                <option>.Net</option>
                <option>Technical Writing</option>
              </select>
            </div>
            <div class="mb-3">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
